@font-face {
  font-family: "My Soul";
  src: url("../fonts/my_soul/MySoul-Regular.woff2") format("woff2"),
    url("../fonts/my_soul/MySoul-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/////////////

@font-face {
  font-family: "Kabrio Abarth";
  src: url("../fonts/kabrio_abarth/KabrioAbarth-BookItalic.woff2")
      format("woff2"),
    url("../fonts/kabrio_abarth/KabrioAbarth-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kabrio Abarth";
  src: url("../fonts/kabrio_abarth/KabrioAbarth-Bold.woff2") format("woff2"),
    url("../fonts/kabrio_abarth/KabrioAbarth-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kabrio Abarth";
  src: url("../fonts/kabrio_abarth/KabrioAbarth-BoldItalic.woff2")
      format("woff2"),
    url("../fonts/kabrio_abarth/KabrioAbarth-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kabrio Abarth";
  src: url("../fonts/kabrio_abarth/KabrioAbarth-Book.woff2") format("woff2"),
    url("../fonts/kabrio_abarth/KabrioAbarth-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kabrio Abarth";
  src: url("../fonts/kabrio_abarth/KabrioAbarth-ExtraBoldItalic.woff2")
      format("woff2"),
    url("../fonts/kabrio_abarth/KabrioAbarth-ExtraBoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kabrio Abarth";
  src: url("../fonts/kabrio_abarth/KabrioAbarth-ExtraBold.woff2")
      format("woff2"),
    url("../fonts/kabrio_abarth/KabrioAbarth-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kabrio Abarth";
  src: url("../fonts/kabrio_abarth/KabrioAbarth-ExtraLight.woff2")
      format("woff2"),
    url("../fonts/kabrio_abarth/KabrioAbarth-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kabrio Abarth";
  src: url("../fonts/kabrio_abarth/KabrioAbarth-ExtraLightItalic.woff2")
      format("woff2"),
    url("../fonts/kabrio_abarth/KabrioAbarth-ExtraLightItalic.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kabrio Abarth";
  src: url("../fonts/kabrio_abarth/KabrioAbarth-HeavyItalic.woff2")
      format("woff2"),
    url("../fonts/kabrio_abarth/KabrioAbarth-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kabrio Abarth";
  src: url("../fonts/kabrio_abarth/KabrioAbarth-LightItalic.woff2")
      format("woff2"),
    url("../fonts/kabrio_abarth/KabrioAbarth-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kabrio Abarth";
  src: url("../fonts/kabrio_abarth/KabrioAbarth-Heavy.woff2") format("woff2"),
    url("../fonts/kabrio_abarth/KabrioAbarth-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kabrio Abarth";
  src: url("../fonts/kabrio_abarth/KabrioAbarth-Light.woff2") format("woff2"),
    url("../fonts/kabrio_abarth/KabrioAbarth-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kabrio Abarth";
  src: url("../fonts/kabrio_abarth/KabrioAbarth-Italic.woff2") format("woff2"),
    url("../fonts/kabrio_abarth/KabrioAbarth-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

///
@font-face {
  font-family: "Kadwa";
  src: url("../fonts/kadwa/Kadwa-Bold.woff2") format("woff2"),
    url("../fonts/kadwa/Kadwa-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kadwa";
  src: url("../fonts/kadwa/Kadwa-Regular.woff2") format("woff2"),
    url("../fonts/kadwa/Kadwa-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

///
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo/Archivo-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/Archivo/Archivo-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo/Archivo-SemiBold.woff2") format("woff2"),
    url("../fonts/Archivo/Archivo-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
