.justin-achiving {
  padding: 11rem 0;
  background: linear-gradient(0deg, #235193 0%, #235193 100%), #235193;
  @media ($mobile) {
    padding: 5rem 0rem;
  }
  @media ($small) {
    padding: 6rem 0rem;
  }
  @media ($medium) {
    padding: 3rem 0rem;
  }
  @media ($large) {
    padding: 3rem 0rem;
  }
  &--image {
    position: relative;
    border-radius: 1.0625rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        30deg,
        rgba(14, 72, 167, 0.5) 33.48%,
        rgba(108, 164, 255, 0.09) 64.91%,
        rgba(0, 160, 255, 0.5) 89.35%
      );
    }
    p {
      color: white;
      width: 100%;
      text-align: center;
      margin: 0;
      @include position(absolute, auto, auto, 0, 0, 5);
      @include fontSpecs(3rem, 400, $white, 4.08019rem, initial);
      font-family: $secondary-font;
      @media ($mobile) {
        font-size: 1.7rem;
      }
      @media ($medium) {
        font-size: 2rem;
      }
      @media ($large) {
        font-size: 2.5rem;
      }
    }
  }
  &--title-wrapper {
    text-align: center;
    max-width: 86.1875rem;
    margin-bottom: 2.6rem;
    h5 {
      @include fontSpecs(2.25rem, 400, $black, 4.08019rem, initial);
      font-family: $octonary-font;
      @media ($mobile) {
        font-size: 1rem;
        line-height: 3rem;
      }
      @media ($small) {
        font-size: 1.78rem;
        line-height: 3rem;
      }
      @media ($medium) {
        font-size: 1.78rem;
        line-height: 3.08019rem;
      }
      @media ($large) {
        font-size: 1.78rem;
        line-height: 3.08019rem;
      }
    }
    p {
      @include fontSpecs(2.25rem, 400, $white, 2.9375rem, initial);
      font-family: $secondary-font;
      @media ($mobile) {
        font-size: 1rem;
        line-height: 2rem;
      }
      @media ($small) {
        font-size: 1.3rem;
        line-height: 2rem;
      }
      @media ($medium) {
        font-size: 1.2rem;
        line-height: 1.7rem;
      }
      @media ($large) {
        font-size: 1.2rem;
        line-height: 1.7rem;
      }
    }
  }
}
