.justin-youTube {
  &--wrapper {
    padding: 0 45px;
    @include dflex(flex, center, space-between);
    gap: 28px;
    @media ($upto-small) {
      flex-direction: column;
      padding: 0rem;
      margin-top: 7rem;
    }
    @media ($large) {
      padding: 0rem;
    }
    @media ($medium) {
      padding: 0 10px;
      flex-direction: row;
    }
  }
  &--content-wrapper {
    max-width: 640px;
    @media ($mobile) {
      max-width: 100%;
      order: 2;
      text-align: center;
    }
    @media ($large) {
      width: calc(100% - 350px - 28px);
    }
    @media ($small) {
      margin-top: 5rem;
      text-align: center;
      order: 2;
    }
    @media ($medium) {
      width: calc(100% - 350px - 28px);
      padding-right: 10px;
    }
    @media ($xl) {
      width: calc(100% - 470px - 28px);
    }
    p {
      @include fontSpecs(1.78rem, 400, $senary-color, 2.6875rem, initial);
      margin-bottom: 2.56rem;
      font-family: $secondary-font;
      @media ($mobile) {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 2rem;
      }
      @media ($small) {
        font-size: 1.3rem;
        line-height: 2rem;
        margin-bottom: 2rem;
      }
      @media ($medium) {
        line-height: 2rem;
        font-size: 1rem;
        margin-bottom: 1rem;
      }
      @media ($large) {
        line-height: 2rem;
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
  &--button {
    background-color: $tertiary;
  }
  &--image-wrapper {
    position: relative;
    @media ($mobile) {
      margin-bottom: 50px !important;
      //margin-top: 65px !important;
      max-width: 250px;
      margin: 0 auto;
    }
    @media ($small) {
      width: 100%;
      max-width: 100%;
    }
    @media ($medium) {
      width: 350px;
    }
    @media ($large) {
      width: 350px;
    }
    @media ($xl) {
      width: 470px;
    }
    &::after {
      @include position(absolute, -21px, -12px, auto, auto, -1);
      content: "";
      width: 137.016px;
      height: 148.86px;
      @media ($mobile) {
      }
      @media ($medium) {
        width: 121.016px;
        height: 110.86px;
        @include position(absolute, -21px, -26px, auto, auto, -1);
      }
      @include backgroundSpecs(
        "/images/home/dot-bg.png",
        no-repeat,
        cover,
        center
      );
    }
    &::before {
      @include position(absolute, auto, -45px, -45px, auto, -1);
      content: "";
      width: 448px;
      height: 308px;
      border-radius: 13px;
      background: linear-gradient(180deg, #9adaff 0%, #9ac2ff 100%);
      @media ($mobile) {
        @include position(absolute, auto, -20px, -20px, auto, -1);
        width: 200px;
        height: 200px;
      }
      @media ($small) {
        @include position(absolute, auto, -20px, -20px, auto, -1);
        width: 400px;
        height: 200px;
      }
      @media ($medium) {
        @include position(absolute, auto, -20px, -20px, auto, -1);
        width: 210px;
        height: 150px;
      }
      @media ($large) {
        @include position(absolute, auto, -20px, -20px, auto, -1);
        width: 210px;
        height: 150px;
      }
    }
  }
  &--image-item {
    border-radius: 12.701px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-right: 0rem;
    margin-bottom: 0;
    margin-top: 22px;
    //margin-left: 89px;
    @media ($upto-small) {
      margin-left: 0rem;
    }
    @media ($medium) {
      margin-left: 0rem;
    }
    @media ($large) {
      margin-left: 0rem;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: radial-gradient(
        84.99% 85.63% at 50.05% 31.05%,
        rgba(14, 72, 167, 0) 9.95%,
        #0e48a7 100%
      );
    }
    img {
      @media ($mobile) {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @media ($small) {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @media ($medium) {
        width: 100%;
        height: 100%;
      }
      @media ($large) {
        width: 100%;
        height: 100%;
      }
    }
  }
  &--voice-play {
    @include position(absolute, auto, auto, 2.8rem, 0rem, 10);
    @include dflex(flex, center, center);
    gap: 1.7rem;
    width: 100%;
    cursor: pointer;
    img {
      width: auto;
      height: auto;
    }
  }
  .voice {
    @media ($mobile) {
      max-width: 45%;
    }
    @media ($medium) {
      max-width: 45%;
    }
    @media ($large) {
      max-width: 45%;
    }
  }
  .icon-ytb {
    @media ($mobile) {
      max-width: 20%;
    }
    @media ($medium) {
      max-width: 20%;
    }
    @media ($large) {
      max-width: 20%;
    }
  }
}
